.avatar_thumb {
    max-width:70px;
    max-width:70px;
}

.avatar_full {
    max-width:210px;
    max-width:210px;
}

.review_photo_thumb {
    max-width:100px;
    max-width:100px;
}

.review_photo {
    max-width:300px;
    max-width:300px;
}