{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <a href="/review_add" class="btn btn-secondary">Добавить отзыв</a>
{% endif %}
<h2>Доступные отзывы</h2>
<br>
{% for review in reviews %}
<div class="card">
  <div class="card-header">
    <a href="/review/{{ review.id }}">{{review.title}}</a>
  </div>
  <div class="card-body">
    <h5 class="card-title"><img class="avatar_thumb" src="/static/img/avatar_for_id_{{ review.author.id }}.jpg" alt=""><a href="/user/{{ review.author.id }}">{{review.author.surname}} {{review.author.name}}</a></h5>
    <p class="card-text">{{review.text}}</p>
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer">Добавлено: {{review.creation_date}}</footer>
    </blockquote>
    <br>
{% if current_user.is_authenticated %}
    <a href="/review/{{ review.id }}" class="btn btn-primary">Просмотр</a>
{% endif %}
{% if current_user.is_authenticated and current_user.id == review.author_id %}
    <a href="/review_del/{{ review.id }}" class="btn btn-primary btn-danger">Удалить</a>
    <a href="/review_edit/{{ review.id }}" class="btn btn-primary">Редактировать</a>
{% endif %}
  </div>
</div><br>
{% endfor %}
{% endblock %}